@import './theme.scss';
@import './layout.scss';

// Fonts
/* Syne */
/* Credit: https://gitlab.com/bonjour-monde/fonderie/syne-typeface */
@font-face {
  font-family: 'SyneRegular';
  src: url('../fonts/syne/Syne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneBold';
  src: url('../fonts/syne/Syne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneExtraBold';
  src: url('../fonts/syne/Syne-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneItalic';
  src: url('../fonts/syne/Syne-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SyneMono';
  src: url('../fonts/syne/SyneMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/pressStart2P/PressStart2P.ttf') format('truetype');
}

// Basic settings
body {
  @include fluid-type( $grow-start-width, $grow-stop-width, $min-font-size, $max-font-size );
  @include font( 'normal' );

  color: $cFont-dark;
  background: $cBackground;

  overflow-x: hidden;
}

* {
  padding: 0em;
  margin: 0em;
  color: inherit;
}

.tilde {
  @include font( 'accent' );
  color: $cStrong;
  font-size: 0.7em;
  top: 0.25em;
}

// Page styles
header {
  @include fluid-headings( 1.0 );
  padding: 2rem;

  // border: 1px solid $cBorder;

  display: flex; 
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    @include font( 'heading' );

    .tilde {
      position: relative;
    }
  }

  p {
    padding-top: 1em;
    color: $cFont-bright;
    text-align: center;
  }
}

main {
  @include font( 'normal' );

  .parts {
    display: flex;
    flex-direction: column;


    @include large {
      flex-direction: row;
    }

    h2 {
      font-size: 1.2em;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + label {
      background-color: $cFocus;

      .content {
        text-transform: lowercase;
        display: block;
        flex-direction: column;

        text-align: left;
        margin: 0em auto;
        padding: 0.6em;

        width: 70%;
        max-width: 500px;

        p {
          @include font( 'normal' );
          color: $cFont-bright; 
        }

        ul {
          list-style: disc;
          padding-left: 1em;
          padding-top: 0.15em;

          li {
            padding: 0.1em 0.0em;
            a {
              text-decoration: underline;
            }
          }
        }
      }
    }

    label {
      .content {
        display: none;
      }

      padding: 1em 1em;
      min-height: 22vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      overflow: auto;
      border-radius: 8em;

      @include large {
        width: 100%;
        height: 40vh;
      }

      @include font( 'heading' );
      text-transform: uppercase;
      text-align: center;

      border: 1px solid $cBorder;
      color: $cStrong;

      cursor: pointer;
    }
  } 

  .words {
    padding: 2em 1em;

    display: flex;
    justify-content: center;

    /*
    border: 1px solid $cBorder;
    border-left: 1px solid $cBorder;
    border-right: 1px solid $cBorder;
    */

    .message {
      max-width: 700px;
      border: 1px solid $cBright;
      padding: 2.0em;
      padding-top: 0.5em;

      border-radius: 3em;

      color: $cFont-bright;

      .date {
        position: relative;
        top: -1%;
        padding-right: 1em;

        color: $cPrimary;
        text-transform: uppercase;

        @include font('subheading');

        text-align: right;
      }
    }
  }
}

footer {
  // border: 1px solid $cBorder;
  display: flex;
  flex-direction: column;
  align-items: center;

  hr {
    width: 50%;
    opacity: 0.5;

  }

  .tilde {
    font-size: 0.6em;
  }

  .archive {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4em;

    h2 {
      font-size: 1.0em;
      padding-right: 1.5em;
    }

    ul {
      display: flex;
      flex-direction: row;
      a {
        font-size: 1.1em;
      }
    }
  }

  .tilde_ring {
    // background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5em;

    &_link {
      color: $cStrong;  
    }
  }



  @include font( 'subheading' );
}
